body {
    background: #eef6f9;
    font-family: Arial;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
}

button, .btn {
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
}

h1, h2, h3 {
    color: #2c7be5;
}
